{% if page_obj.has_other_pages %}
<div class="pagination-container">
    <nav class="pagination-nav">
        <ul class="pagination-list">
            

            {% if page_obj.has_previous %}
                {# Кнопка "В начало" (первая страница) #}
                <li class="pagination-item">
                    <a class="pagination-link" href="{% querystring page=1 %}">«</a>
                </li>
                {# Кнопка "Назад" (предыдущая страница) #}
                <li class="pagination-item">
                    <a class="pagination-link" href="{% querystring page=page_obj.previous_page_number %}">‹</a>
                </li>
            {% endif %}
            <li class="pagination-item active">
                <span class="pagination-link">
                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
            </li>
            {% if page_obj.has_next %}
                {# Кнопка "Вперёд" (следующая страница) #}
                <li class="pagination-item">
                    <a class="pagination-link" href="{% querystring page=page_obj.next_page_number %}">›</a>
                </li>
                {# Кнопка "В конец" (последняя страница) #}
                <li class="pagination-item">
                    <a class="pagination-link" href="{% querystring page=page_obj.paginator.num_pages %}">»</a>
                </li>
            {% endif %}
            
        </ul>
    </nav>
</div>
{% endif %}  {# Конец проверки на наличие других страниц #}